* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
}

#particles-js {
  background: #AFAFAF;
  display: block;
  position: fixed;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.body {
  margin: auto;
  padding: 3%;
  background: #E1E1E1;
  margin-bottom: 1%;
}

.todo {
  position: absolute;
  z-index: 1000;
  margin: 4% 20%;
  text-align: center;
  width: 60%;
}

h1 {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1%;
  cursor: default;
}

.img_perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

ul {
  list-style: none;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #989898;
  border-bottom: 1px solid #989898;
}

ul a {
  border-top: 1px solid #989898;
  border-bottom: 1px solid #989898;
  padding: 1%;
  background: #DADADA;
  transition: all ease 0.6s;
  display: block;
  text-decoration: none;
  color:#000;
}

ul a:hover {
  cursor: pointer;
  background: #CBCBCB;
  transition: all ease 0.6s;
}

.nombre {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

.description {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  margin-top: 1%;
  cursor: default;
}

h2 {
  font-size: 33px;
  font-family: 'Oswald', sans-serif;
  display: inline;
  margin-left: 5px;
  cursor: default;
}

.h2 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

h3 {
  font-size: 27px;
  font-family: 'Oswald', sans-serif;
  display: inline;
  margin-left: 5px;
  cursor: default;
}

.conocimientos_p {
  border: 1px solid #898989;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
}

.conocimientos_p li {
  cursor: default;
}

.conocimientos_resumen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 2%;
  margin-bottom: 2%;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
}

.conocimientos_resumen p {
  display: inline;
  margin: auto;
  padding: 5%;
  border-radius: 8%;
  background: #6ECA6B;
  cursor: default;
}

.es_otro a {
  display: inline;
  margin: auto;
  border-radius: 8%;
  background: #6ECA6B;
  cursor: pointer;
  padding: 5%;
  color:#000;
  text-decoration: none;
}

.es_otro p {
  cursor: pointer;
  padding: 0;
  border-radius: 0%;
  border: none;
}

@media screen and (max-width:1300px) {
  .conocimientos_resumen {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:1000px) {
  .conocimientos_resumen {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:600px) {
  .conocimientos_resumen {
    grid-template-columns: 1fr;
    margin-bottom: 18%;
  }

  .todo {
    width: 90%;
    margin: 4% 5%;
  }
}

@media screen and (max-width:300px) {
  .todo {
    width: 100%;
    margin: 2% 0%;
  }
}
